body, h1, h2, h3, h4, h5, h6, p, label, button, select, input {
    margin: 0;
    padding: 0;
}
  
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

li{
    list-style: none;
}

ul{
    padding: 0
}